{
    "parser": "babel-eslint",
    "parserOptions": {
        "ecmaVersion": "2018",
        "sourceType": "module",
        "ecmaFeatures": {
            "experimentalObjectRestSpread": true,
            "modules": true
        },
        "allowImportExportEverywhere": true,
        "codeFrame": false
    },
    "env": {
        "browser": true
    },
    "extends": [
        "airbnb-base"
    ],
    "plugins": [
        "import"
    ],
    "rules": {
        "import/no-unassigned-import": 0,
        "import/no-named-default": 0,
        "import/no-duplicates": 0,
        "import/prefer-default-export": 0,
        "no-unused-vars": [ 2, { "args": "none" } ],
        "quotes": [ 1, "backtick" ],
        "space-before-function-paren": 0,
        "no-param-reassign": 0,
        "array-callback-return": 0
        "arrow-parens": 0,
        "no-confusing-arrow": 0,
        "arrow-body-style": 0,
        "func-names": 0,
        "no-console": 0,
        "no-alert": 0,
    }
}
