{
  "plugins": [
    "stylelint-prettier"
  ],
  "extends": [
    "stylelint-prettier/recommended",
    "stylelint-config-standard-scss"
  ],
  "ignoreFiles": [
    "**/normalize.scss",
    "**/normalize.css"
  ],
  "overrides": [
    {
      "files": [
        "*.scss",
        "**/*.scss"
      ],
      "customSyntax": "postcss-scss"
    }
  ],
  "rules": {
    "alpha-value-notation": "number",
    "at-rule-empty-line-before": null,
    "at-rule-no-unknown": null,
    "block-no-empty": true,
    "color-hex-length": "long",
    "color-no-invalid-hex": true,
    "comment-empty-line-before": null,
    "comment-no-empty": true,
    "custom-property-empty-line-before": null,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-redundant-longhand-properties": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "declaration-empty-line-before": null,
    "declaration-no-important": true,
    "font-family-name-quotes": "always-unless-keyword",
    "font-family-no-duplicate-names": true,
    "function-calc-no-unspaced-operator": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "keyframe-declaration-no-important": true,
    "length-zero-no-unit": null,
    "max-nesting-depth": 4,
    "media-feature-name-no-unknown": true,
    "media-feature-name-no-vendor-prefix": true,
    "media-feature-range-notation": null,
    "no-descending-specificity": null,
    "no-duplicate-at-import-rules": true,
    "no-duplicate-selectors": true,
    "no-empty-source": true,
    "no-invalid-position-at-import-rule": null,
    "no-unknown-animations": null,
    "prettier/prettier": true,
    "property-no-unknown": true,
    "rule-empty-line-before": null,
    "scss/at-extend-no-missing-placeholder": true,
    "scss/at-import-no-partial-leading-underscore": true,
    "scss/at-import-partial-extension": "always",
    "scss/at-rule-conditional-no-parentheses": true,
    "scss/at-rule-no-unknown": true,
    "scss/dollar-variable-empty-line-before": null,
    "scss/dollar-variable-pattern": null,
    "scss/double-slash-comment-empty-line-before": null,
    "scss/double-slash-comment-whitespace-inside": "always",
    "scss/no-global-function-names": true,
    "scss/operator-no-newline-after": null,
    "scss/operator-no-unspaced": null,
    "selector-class-pattern": null,
    "selector-id-pattern": null,
    "selector-max-id": 0,
    "selector-max-universal": 0,
    "selector-no-vendor-prefix": true,
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-element-no-unknown": true,
    "selector-type-no-unknown": true,
    "shorthand-property-no-redundant-values": true,
    "string-no-newline": true,
    "unit-no-unknown": true,
    "value-keyword-case": "lower"
  }
}
