{
  "plugins": [
    "stylelint-prettier",
    "stylelint-scss"
  ],
  "extends": [
    "stylelint-prettier/recommended"
  ],
  "ignoreFiles": [
    "**/normalize.scss",
    "**/normalize.css"
  ],
  "rules": {
    "prettier/prettier": true,
    "color-no-invalid-hex": true,
    "font-family-no-duplicate-names": true,
    "function-calc-no-unspaced-operator": true,
    "function-linear-gradient-no-nonstandard-direction": true,
    "unit-no-unknown": true,
    "string-no-newline": true,
    "property-no-unknown": true,
    "keyframe-declaration-no-important": true,
    "declaration-block-no-duplicate-properties": true,
    "declaration-block-no-shorthand-property-overrides": true,
    "block-no-empty": true,
    "selector-pseudo-class-no-unknown": true,
    "selector-pseudo-element-no-unknown": true,
    "selector-type-no-unknown": true,
    "media-feature-name-no-unknown": true,
    "at-rule-no-unknown": null,
    "comment-no-empty": true,
    "no-duplicate-at-import-rules": true,
    "no-duplicate-selectors": true,
    "no-empty-source": true,
    "no-extra-semicolons": true,
    "alpha-value-notation": "number",
    "shorthand-property-no-redundant-values": true,
    "declaration-no-important": true,
    "selector-max-id": 0,
    "selector-max-universal": 0,
    "max-nesting-depth": 4,
    "no-unknown-animations": true,
    "unit-case": "lower",
    "value-keyword-case": "lower",
    "property-case": "lower",
    "scss/at-rule-no-unknown": true,
    "scss/at-extend-no-missing-placeholder": true,
    "scss/at-import-no-partial-leading-underscore": true
  }
}
